# Create Database

In [32]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [31]:
%sql sqlite:///Library.db

'Connected: @Library.db'

# Tables

In [3]:
%%sql
drop table Item;
drop table Book;
drop table OnlineBooks;
drop table Magazine;
drop table Journal;
drop table CD;
drop table Record;
drop table AudioBook;
drop table User;
drop table Room;
drop table Event;
drop table Staff;
drop table Borrowing;
drop table Location;
drop table Registered;

 * sqlite:///Library.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql
CREATE TABLE Item (
    ItemID INTEGER,
    Type CHAR(15) NOT NULL,
    Availablity BOOLEAN DEFAULT FALSE,
    OnOrder BOOLEAN DEFAULT FALSE,
    Title CHAR(100) NOT NULL,
    
    CHECK (type IN 
        ('BOOK', 'ONLINE BOOK', 'MAGAZINE', 'CD', 'RECORD', 'JOURNAL', 'AUDIOBOOK')),
    CHECK (ItemID > 0),
    CHECK ((OnOrder = TRUE AND Availablity = FALSE) OR (OnOrder = FALSE)),
    
    PRIMARY KEY (ItemID)
);

 * sqlite:///Library.db
Done.

[]

In [5]:
%%sql
CREATE TABLE Book (
    ItemID INTEGER REFERENCES Item(ItemID),
    Title CHAR(40) NOT NULL,
    Author CHAR(20) DEFAULT NULL,
    PubDate DATE NOT NULL,
    Length INTEGER NOT NULL,
    ISBN INTEGER,
    Publisher CHAR(50) NOT NULL,
    ShelfID INTEGER DEFAULT NULL,
    Genre CHAR(10),
    
    CHECK (Length > 0),
    CHECK (ISBN > 0),
    
    PRIMARY KEY (ItemID)
);

CREATE TRIGGER AddBookToItems
BEFORE INSERT ON Book
BEGIN
INSERT INTO Item VALUES(New.ItemID, 'BOOK', TRUE, FALSE, New.Title);
END;

CREATE TRIGGER RemoveBookItems
After DELETE ON Book
FOR EACH ROW
BEGIN
DELETE FROM Item WHERE ItemID = Old.ItemID;
END;

 * sqlite:///Library.db
Done.
Done.
Done.

[]

In [6]:
%%sql
CREATE TABLE OnlineBooks (
    ItemID INTEGER REFERENCES Item(ItemID),
    Title CHAR(40) NOT NULL,
    Author CHAR(20) DEFAULT NULL,
    Link CHAR(100) NOT NULL,
    PubDate DATE NOT NULL,
    Publisher CHAR(50) NOT NULL,
    ISBN INTEGER NOT NULL,
    Format CHAR(15) DEFAULT 'PDF',
    Length Integer NOT NULL,
    Genre CHAR(10),
    
    CHECK (Link LIKE 'https://%'),
    CHECK (ISBN > 0),
    CHECK (Length > 0),
    
    PRIMARY KEY (ItemID)
);

CREATE TRIGGER AddOnlineBookToItems
BEFORE INSERT ON OnlineBooks
BEGIN
INSERT INTO Item VALUES(New.ItemID, 'ONLINE BOOK', TRUE, FALSE, New.Title);
END;

CREATE TRIGGER RemoveOnlineBooksItems
After DELETE ON OnlineBooks
FOR EACH ROW
BEGIN
DELETE FROM Item WHERE ItemID = Old.ItemID;
END;

 * sqlite:///Library.db
Done.
Done.
Done.

[]

In [7]:
%%sql
CREATE TABLE Magazine (
    ItemID INTEGER REFERENCES Item(ItemID),
    Title CHAR(40) NOT NULL,
    Publisher CHAR(50) NOT NULL,
    PubDate DATE NOT NULL,
    IssueNum INTEGER DEFAULT 1,
    ISBN INTEGER NOT NULL,
    Length Integer NOT NULL,
    ShelfID INTEGER DEFAULT NULL,
    
    CHECK (IssueNum > 0),
    CHECK (ISBN > 0),
    CHECK (Length > 0),
    
    PRIMARY KEY (ItemID)
);

CREATE TRIGGER AddMagazineToItems
BEFORE INSERT ON Magazine
BEGIN
INSERT INTO Item VALUES(New.ItemID, 'MAGAZINE', TRUE, FALSE, New.Title);
END;

CREATE TRIGGER RemoveMagazineItems
After DELETE ON Magazine
FOR EACH ROW
BEGIN
DELETE FROM Item WHERE ItemID = Old.ItemID;
END;

 * sqlite:///Library.db
Done.
Done.
Done.

[]

In [8]:
%%sql
CREATE TABLE Journal (
    ItemID INTEGER REFERENCES Item(ItemID),
    Title CHAR(40) NOT NULL,
    Volume INTEGER NOT NULL DEFAULT 1,
    Issue INTEGER NOT NULL DEFAULT 1,
    Publisher CHAR(50) NOT NULL,
    PubDate DATE NOT NULL,
    Field CHAR(20) DEFAULT NULL,
    ShelfID INTEGER NOT NULL,
    
    CHECK (Volume > 0),
    CHECK (Issue > 0),
    
    PRIMARY KEY (ItemID)
);

CREATE TRIGGER AddJournalToItems
BEFORE INSERT ON Journal
BEGIN
INSERT INTO Item VALUES(New.ItemID, 'JOURNAL', TRUE, FALSE, New.Title);
END;

CREATE TRIGGER RemoveJournalItems
After DELETE ON Journal
FOR EACH ROW
BEGIN
DELETE FROM Item WHERE ItemID = Old.ItemID;
END;

 * sqlite:///Library.db
Done.
Done.
Done.

[]

In [9]:
%%sql
CREATE TABLE CD (
    ItemID INTEGER REFERENCES Item(ItemID),
    Title CHAR(40) NOT NULL,
    Artist CHAR(20) NOT NULL,
    RecordLabel CHAR(20) NOT NULL,
    ReleaseDate DATE NOT NULL,
    ShelfID INTEGER NOT NULL,
    
    PRIMARY KEY (ItemID)
);

CREATE TRIGGER AddCDToItems
BEFORE INSERT ON CD
BEGIN
INSERT INTO Item VALUES(New.ItemID, 'CD', TRUE, FALSE, New.Title);
END;

CREATE TRIGGER RemoveCDItems
After DELETE ON CD
FOR EACH ROW
BEGIN
DELETE FROM Item WHERE ItemID = Old.ItemID;
END;

 * sqlite:///Library.db
Done.
Done.
Done.

[]

In [10]:
%%sql
CREATE TABLE Record (
    ItemID INTEGER REFERENCES Item(ItemID),
    Title CHAR(40),
    Location CHAR(20) DEFAULT 'LOCAL',
    Date Date DEFAULT NULL,
    Category CHAR(30) DEFAULT 'GENERAL',
    ShelfID INTEGER DEFAULT NULL,
    PRIMARY KEY (ItemID)
);

CREATE TRIGGER AddRecordToItems
BEFORE INSERT ON Record
BEGIN
INSERT INTO Item VALUES(New.ItemID, 'RECORD', TRUE, FALSE, New.Title);
END;

CREATE TRIGGER RemoveRecordItems
After DELETE ON Record
FOR EACH ROW
BEGIN
DELETE FROM Item WHERE ItemID = Old.ItemID;
END;

 * sqlite:///Library.db
Done.
Done.
Done.

[]

In [11]:
%%sql
CREATE TABLE AudioBook (
    ItemID INTEGER REFERENCES Item(ItemID),
    Title CHAR(40) NOT NULL,
    Author CHAR(20) DEFAULT NULL,
    PubDate DATE NOT NULL,
    Publisher CHAR(50) NOT NULL,
    ISBN INTEGER NOT NULL,
    Length Integer NOT NULL,
    
    CHECK (Length > 0),
    CHECK (ISBN > 0),
    
    PRIMARY KEY (ItemID)
);

CREATE TRIGGER AddAudioBookToItems
BEFORE INSERT ON AudioBook
BEGIN
INSERT INTO Item VALUES(New.ItemID, 'AUDIOBOOK', TRUE, FALSE, New.Title);
END;

CREATE TRIGGER RemoveAudioBookItems
After DELETE ON AudioBook
FOR EACH ROW
BEGIN
DELETE FROM Item WHERE ItemID = Old.ItemID;
END;

 * sqlite:///Library.db
Done.
Done.
Done.

[]

In [12]:
%%sql
CREATE TABLE User (
    UserID INTEGER,
    LastName CHAR(20) NOT NULL,
    FirstName CHAR(20) NOT NULL,
    Address CHAR(20),
    Email Char(50),
    PrefType CHAR(20),
    
    CHECK (PrefType IN 
           ('BOOK EVENT', 'BOOK CLUB', 'CLUB', 'ART SHOW', 'FILM SCREENING', 'READING', 'LECTURE', 'MEET AND GREET')),
    
    PRIMARY KEY (UserID)
);

 * sqlite:///Library.db
Done.

[]

In [13]:
%%sql
CREATE TABLE Room (
    RoomNumber INTEGER,
    RoommName CHAR(20) DEFAULT NULL,
    Capacity INTEGER, 
    Floor INTEGER,
    
    CHECK (Capacity > 0),
    CHECK (Floor > -2 AND Floor < 3)
    
    PRIMARY KEY (RoomNumber)
);

 * sqlite:///Library.db
Done.

[]

In [14]:
%%sql
CREATE TABLE Event (
    EventName CHAR(50),
    EventDate DATETIME,
    Type CHAR(20) NOT NULL DEFAULT 'BOOK EVENT',
    Capacity INTEGER NOT NULL,
    Organizer INTEGER REFERENCES Staff(StaffID),
    
    CHECK (Capacity > 0),
    CHECK (Type IN 
           ('BOOK EVENT', 'BOOK CLUB', 'CLUB', 'ART SHOW', 'FILM SCREENING', 'READING', 'LECTURE', 'MEET AND GREET')),
    
    PRIMARY KEY (EventDate, EventName)
);

 * sqlite:///Library.db
Done.

[]

In [15]:
%%sql
CREATE TABLE Staff (
    StaffID INTEGER,
    LastName CHAR(20) NOT NULL,
    FirstName CHAR(20) NOT NULL,
    Address CHAR(20) NOT NULL,
    Email Char(50) NOT NULL,
    PhoneNumber INTEGER NOT NULL,
    HireDate DATE DEFAULT '0000-00-00',
    Position Char(50) NOT NULL DEFAULT 'LIBRARIAN',
    Volunteer BOOLEAN NOT NULL DEFAULT FALSE,
    UserID INTEGER REFERENCES User(UserID),
    
    CHECK (Position IN 
           ('LIBRARIAN', 'MANAGER', 'EVENT STAFF', 'CAFE', 'YOUTH WORKER', 'CUSTODIAL')),
    
    PRIMARY KEY (StaffID)
);

 * sqlite:///Library.db
Done.

[]

In [16]:
%%sql
CREATE TABLE Borrowing (
    UserID INTEGER REFERENCES User(UserID),
    ItemID INTEGER REFERENCES Item(ItemID),
    BorrowDate DATE NOT NULL,
    DueDate Date NOT NULL,
    Charge NUMERIC(2,2) NOT NULL DEFAULT 00.00,
    ReturnDate DATE NOT NULL DEFAULT '0000-00-00',
    
    CHECK (BorrowDate < DueDate),
    
    PRIMARY KEY (ItemID,BorrowDate)
);


CREATE TRIGGER ItemAvailable
AFTER UPDATE OF ReturnDate ON Borrowing
FOR EACH ROW
WHEN (Old.ReturnDate != New.ReturnDate)
BEGIN
UPDATE Item
SET Availablity = TRUE
WHERE Item.ItemID = New.ItemID;
END;

CREATE TRIGGER Itemborrowed
AFTER Insert ON Borrowing
BEGIN
UPDATE Item
SET Availablity = FALSE
WHERE Item.ItemID = New.ItemID;
END;

 * sqlite:///Library.db
Done.
Done.
Done.

[]

# Relations

In [17]:
%%sql
CREATE TABLE Registered (
    UserID INTEGER REFERENCES User(UserID),
    EventDate DATETIME REFERENCES Event(EventDate),
    EventName CHAR(50) REFERENCES Event(EventName),
    PRIMARY KEY (UserID, EventDate, EventName)
);

 * sqlite:///Library.db
Done.

[]

In [18]:
%%sql
CREATE TABLE Location (
    EventName CHAR(50) REFERENCES Event(EventName),
    EventDate DATETIME REFERENCES Event(EventDate),
    RoomNumber INTEGER REFERENCES Room(RoomNumber),
    PRIMARY KEY (EventDate, EventName, RoomNumber)
);

 * sqlite:///Library.db
Done.

[]

In [19]:
%%sql
INSERT INTO Book VALUES(
    1001,'Book 1','John Smith','2020-12-31',212,12345,'Print101',1,'Horror'),
    (1002,'Book 2','Bob Smith','2000-09-03',124,12346,'Print200',3,'Horror'),
    (1003,'Book 3','Larry Smith','2022-11-12',212,12346,'Print101',1,'Horror'),
    (1004,'Book 4','C123','2012-12-11',212,12347,'Print101',1,'Horror'),
    (1005,'Book 5','Rob Spring','2003-08-21',212,12348,'Print101',1,'Horror'),
    (1006,'Book 6','Author 6','2005-06-01',212,12349,'Print101',1,'Horror'),
    (1007,'Book 7','Author 7','2007-02-26',212,12350,'Print101',1,'Horror'),
    (1008,'Book 8','Author 8','2021-03-11',212,12351,'Print101',1,'Horror'),
    (1009,'Book 9','Author 9','2020-10-08',212,12352,'Print101',1,'Horror'),
    (1010,'Book 10','Author 10','2001-11-06',212,12353,'Print101',1,'Horror');

 * sqlite:///Library.db
10 rows affected.

[]

In [20]:
%%sql
INSERT INTO OnlineBooks VALUES(
    1011,'Online Book 1','John Smith 1','https://Link','2020-12-31','Print101',12454,'PDF',111,'Horror'),
    (1012,'Online Book 2','John Smith 2','https://Link','2020-12-31','Print101',12455,'PDF',101,'Horror'),
    (1013,'Online Book 3','John Smith 3','https://Link','2020-12-31','Print101',12456,'PDF',111,'Horror'),
    (1014,'Online Book 4','John Smith 4','https://Link','2020-12-31','Print101',12457,'PDF',111,'Horror'),
    (1015,'Online Book 5','John Smith 5','https://Link','2020-12-31','Print101',12458,'PDF',111,'Horror'),
    (1016,'Online Book 6','John Smith 6','https://Link','2020-12-31','Print101',12459,'PDF',111,'Horror'),
    (1017,'Online Book 7','John Smith 7','https://Link','2020-12-31','Print101',12460,'PDF',111,'Horror'),
    (1018,'Online Book 8','John Smith 8','https://Link','2020-12-31','Print101',12461,'PDF',111,'Horror'),
    (1019,'Online Book 9','John Smith 9','https://Link','2020-12-31','Print101',12462,'PDF',11,'Horror'),
    (1020,'Online Book 10','John Smith 10','https://Link','2020-12-31','Print101',12463,'PDF',1111,'Horror');

 * sqlite:///Library.db
10 rows affected.

[]

In [21]:
%%sql
INSERT INTO Magazine VALUES(
    1021,'Magazine 1','Print101','2020-12-31',1,12454,111,3),
    (1022,'Magazine 2','Print101','2020-12-31',2,12455,101,3),
    (1023,'Magazine 3','Print101','2020-12-31',1,12456,111,3),
    (1024,'Magazine 4','Print101','2020-12-31',2,12457,111,4),
    (1025,'Magazine 5','Print101','2020-12-31',1,12458,111,4),
    (1026,'Magazine 6','Print101','2020-12-31',1,12459,111,4),
    (1027,'Magazine 7','Print101','2020-12-31',3,12460,111,3),
    (1028,'Magazine 8','Print101','2020-12-31',1,12461,111,3),
    (1029,'Magazine 9','Print101','2020-12-31',2,12462,11,3),
    (1030,'Magazine 10','Print101','2020-12-31',2,12463,1111,3);

 * sqlite:///Library.db
10 rows affected.

[]

In [22]:
%%sql
INSERT INTO Journal VALUES(
    1031,'Journal 1',2,1,'Print101','2020-12-31','Field',7),
    (1032,'Journal 2',2,1,'Print101','2020-12-31','Field',7),
    (1033,'Journal 3',2,1,'Print101','2020-12-31','Field',8),
    (1034,'Journal 4',2,1,'Print101','2020-12-31','Field',8),
    (1035,'Journal 5',2,1,'Print101','2020-12-31','Field',8),
    (1036,'Journal 6',2,1,'Print101','2020-12-31','Field',7),
    (1037,'Journal 7',2,1,'Print101','2020-12-31','Field',7),
    (1038,'Journal 8',2,1,'Print101','2020-12-31','Field',6),
    (1039,'Journal 9',2,1,'Print101','2020-12-31','Field',6),
    (1040,'Journal 10',2,1,'Print101','2020-12-31','Field',6);

 * sqlite:///Library.db
10 rows affected.

[]

In [23]:
%%sql
INSERT INTO CD VALUES(
    1041,'CD 1','Artist 1','Record101','2020-12-31',7),
    (1042,'CD 2','Artist 2','Record101','2020-12-31',7),
    (1043,'CD 3','Artist 3','Record101','2020-12-31',7),
    (1044,'CD 4','Artist 4','Record101','2020-12-31',7),
    (1045,'CD 5','Artist 5','Record101','2020-12-31',7),
    (1046,'CD 6','Artist 6','Record101','2020-12-31',7),
    (1047,'CD 7','Artist 7','Record101','2020-12-31',7),
    (1048,'CD 8','Artist 8','Record101','2020-12-31',7),
    (1049,'CD 9','Artist 9','Record101','2020-12-31',7),
    (1050,'CD 10','Artist 10','Record101','2020-12-31',7);

 * sqlite:///Library.db
10 rows affected.

[]

In [24]:
%%sql
INSERT INTO Record VALUES(
    1051,'Record 1','L 1','2020-12-31','Category 1',7),
    (1052,'Record 2','L 2','2020-12-31','Category 2',7),
    (1053,'Record 3','L 3','2020-12-31','Category 3',7),
    (1054,'Record 4','L 4','2020-12-31','Category 4',7),
    (1055,'Record 5','L 5','2020-12-31','Category 5',7),
    (1056,'Record 6','L 6','2020-12-31','Category 6',7),
    (1057,'Record 7','L 7','2020-12-31','Category 7',7),
    (1058,'Record 8','L 8','2020-12-31','Category 8',7),
    (1059,'Record 9','L 9','2020-12-31','Category 9',7),
    (1060,'Record 10','L 10','2020-12-31','Category 10',7);

 * sqlite:///Library.db
10 rows affected.

[]

In [25]:
%%sql
INSERT INTO AudioBook VALUES(
    1061,'AudioBook 1','John Smith','2020-12-31','Print101',11111,123),
    (1062,'AudioBook 2','Bob Smith','2000-09-03','Print200',11111,123),
    (1063,'AudioBook 3','Larry Smith','2022-11-12','Print101',11111,123),
    (1064,'AudioBook 4','C123','2012-12-11','Print101',11111,123),
    (1065,'AudioBook 5','Rob Spring','2003-08-21','Print101',11111,123),
    (1066,'AudioBook 6','Author 6','2005-06-01','Print101',11111,123),
    (1067,'AudioBook 7','Author 7','2007-02-26','Print101',11111,123),
    (1068,'AudioBook 8','Author 8','2021-03-11','Print101',11111,123),
    (1069,'AudioBook 9','Author 9','2020-10-08','Print101',11111,123),
    (1070,'AudioBook 10','Author 10','2001-11-06','Print101',11111,123);

 * sqlite:///Library.db
10 rows affected.

[]

In [26]:
%%sql
INSERT INTO User VALUES(
    1,'last 1','First 1',NULL, NULL, 'BOOK CLUB'),
    (2,'last 2','First 2','Address 2', NULL, 'BOOK EVENT'),
    (3,'last 3','First 3','Address 3', 'ABC@DE.CA', 'CLUB'),
    (4,'last 4','First 4','Address 4', NULL, 'BOOK EVENT'),
    (5,'last 5','First 5','Address 5', NULL, 'ART SHOW'),
    (6,'last 6','First 6',NULL, '123@asd.ca', 'FILM SCREENING'),
    (7,'last 7','First 7','Address 7', NULL, 'BOOK EVENT'),
    (8,'last 8','First 8','Address 8', NULL, 'READING'),
    (9,'last 9','First 9','Address 9', NULL, 'MEET AND GREET'),
    (10,'last 10','First 10','Address 10', NULL, 'LECTURE');

 * sqlite:///Library.db
10 rows affected.

[]

In [27]:
%%sql
INSERT INTO Room VALUES(
    1,'DIAMOND HALL',100,2),
    (2,'BIG ROOM',110,1),
    (3,'Room 3',100, 0),
    (4,NULL,100, -1),
    (5,'ROOM 5',150, 1),
    (6,'ROOM 6',100, 2),
    (7,'ROOM 7',50, 1),
    (8,NULL,50,-1),
    (9,NULL,50,-1),
    (10,NULL,50,0);

 * sqlite:///Library.db
10 rows affected.

[]

In [28]:
%%sql
INSERT INTO Staff VALUES(
    100,'last 1','First 1','Address 1', 'ABC@DE.CA', 1231231231,'2010-05-06','MANAGER',FALSE,NULL),
    (102,'last 2','First 2','Address 2', 'ABC@DE.CA', 1231231231,'2010-05-06','LIBRARIAN',FALSE,NULL),
    (103,'last 3','First 3','Address 3', 'ABC@DE.CA', 1231231231,'2010-05-06','LIBRARIAN',FALSE,NULL),
    (104,'last 4','First 4','Address 4', 'ABC@DE.CA', 1231231231,'2010-05-06','LIBRARIAN',FALSE,NULL),
    (105,'last 5','First 5','Address 5', 'ABC@DE.CA', 1231231231,'2010-05-06','LIBRARIAN',TRUE,1),
    (106,'last 6','First 6','Address 6', '123@asd.ca', 1231231231,'2010-05-06','EVENT STAFF',TRUE,2),
    (107,'last 7','First 7','Address 7', 'ABC@DE.CA', 1231231231,'2010-05-06','EVENT STAFF',TRUE,3),
    (108,'last 8','First 8','Address 8', 'ABC@DE.CA', 1231231231,'2010-05-06','EVENT STAFF',TRUE,6),
    (109,'last 9','First 9','Address 9', 'ABC@DE.CA', 1231231231,'2010-05-06','CAFE',FALSE,NULL),
    (110,'last 10','First 10','Address 10', 'ABC@DE.CA', 1231231231,'2010-05-06','CAFE',FALSE,NULL);

 * sqlite:///Library.db
10 rows affected.

[]

In [29]:
%%sql
INSERT INTO Event VALUES(
    'Monday Reading Club', '2023-09-23','BOOK CLUB',50, 100),
    ('Film Event', '2023-10-12','FILM SCREENING',150, 101),
    ('Event 3', '2023-03-16','BOOK CLUB',100, 102),
    ('Event 4', '2023-010-17','BOOK CLUB',50, 100),
    ('Event 5', '2023-09-18','CLUB',25, 100),
    ('Event 6', '2023-06-19','BOOK CLUB',50, 101),
    ('Event 7', '2023-07-11','ART SHOW',50, 101),
    ('Event 8', '2023-11-20','BOOK CLUB',70, 105),
    ('Event 9', '2023-09-21','BOOK CLUB',50, 101),
    ('Event 10', '2023-10-25','BOOK EVENT',50, 106);

 * sqlite:///Library.db
10 rows affected.

[]

In [30]:
%%sql
INSERT INTO Borrowing(UserID,ItemID,BorrowDate,DueDate,Charge) VALUES(
    1,1020,'2023-08-01','2023-08-15', 00.00),
    (2,1031,'2023-07-02','2023-07-16', 00.00),
    (2,1021,'2023-05-09','2023-05-23', 00.00),
    (4,1001,'2023-07-10','2023-07-24', 00.00),
    (4,1033,'2023-06-09','2023-06-23', 00.00),
    (7,1037,'2023-06-12','2023-06-26', 00.00),
    (8,1046,'2023-06-09','2023-06-23', 00.00),
    (9,1052,'2023-08-01','2023-08-15', 00.00),
    (10,1060,'2023-06-09','2023-06-23', 00.00),
    (4,1004,'2023-02-10','2023-02-24', 00.00);

 * sqlite:///Library.db
10 rows affected.

[]